---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a086f0c098340ee15e9807a29c6811fb&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1637121189,"sunrise":1637066511,"sunset":1637101749,"temp":51.44,"feels_like":49.71,"pressure":1011,"humidity":73,"dew_point":43.09,"uvi":0,"clouds":97,"visibility":10000,"wind_speed":3,"wind_deg":183,"wind_gust":11.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1637121240,"precipitation":0},{"dt":1637121300,"precipitation":0},{"dt":1637121360,"precipitation":0},{"dt":1637121420,"precipitation":0},{"dt":1637121480,"precipitation":0},{"dt":1637121540,"precipitation":0},{"dt":1637121600,"precipitation":0},{"dt":1637121660,"precipitation":0},{"dt":1637121720,"precipitation":0},{"dt":1637121780,"precipitation":0},{"dt":1637121840,"precipitation":0},{"dt":1637121900,"precipitation":0},{"dt":1637121960,"precipitation":0},{"dt":1637122020,"precipitation":0},{"dt":1637122080,"precipitati[...]
[...]
