---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92-o1nHW9IIbdYAQ40ifimKzrSNwMA"
    body:
      encoding: UTF-8
      string: '{"activity":"Do something you used to do as a kid","type":"relaxation","participants":1,"price":0.1,"link":"","key":"8827573","accessibility":0.8}'
  recorded_at: Wed, 17 Nov 2021 03:36:50 GMT
recorded_with: VCR 6.0.0
