---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=rz7BBGs3VsjMYhtjzgG3PhJ3xEGdJ5Gs&location=chicago,il
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 17 Nov 2021 04:05:45 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rz7BBGs3VsjMYhtjzgG3PhJ3xEGdJ5Gs&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1150715295"}]}]}'
  recorded_at: Wed, 17 Nov 2021 04:05:45 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a086f0c098340ee15e9807a29c6811fb&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1637121946,"sunrise":1637066511,"sunset":1637101749,"temp":52.11,"feels_like":50.49,"pressure":1010,"humidity":74,"dew_point":44.08,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":1.01,"wind_deg":0,"wind_gust":5.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1637121960,"precipitation":0},{"dt":1637122020,"precipitation":0},{"dt":1637122080,"precipitation":0},{"dt":1637122140,"precipitation":0},{"dt":1637122200,"precipitation":0},{"dt":1637122260,"precipitation":0},{"dt":1637122320,"precipitation":0},{"dt":1637122380,"precipitation":0},{"dt":1637122440,"precipitation":0},{"dt":1637122500,"precipitation":0},{"dt":1637122560,"precipitation":0},{"dt":1637122620,"precipitation":0},{"dt":1637122680,"precipitation":0},{"dt":1637122740,"precipitation":0},{"dt":1637122800,"precipitati[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98-8+LAhZ6uX6bj9Q8cf+o37fiegDE"
    body:
      encoding: UTF-8
      string: '{"activity":"Give your pet ten minutes of focused attention","type":"relaxation","participants":1,"price":0,"link":"","key":"9937387","accessibility":0}'
  recorded_at: Wed, 17 Nov 2021 04:05:49 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=busywork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86-m0gYXwKjJbusOnPGkOO0pNMqqUQ"
    body:
      encoding: UTF-8
      string: '{"activity":"Create or update your resume","type":"busywork","participants":1,"price":0,"link":"","key":"9364041","accessibility":0.1}'
  recorded_at: Wed, 17 Nov 2021 04:05:52 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=rz7BBGs3VsjMYhtjzgG3PhJ3xEGdJ5Gs&location=san%20antonio,tx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 17 Nov 2021 04:33:45 GMT
      Reversegeocodetransactioncount:
      - '0'
      [...]
[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8b-SUXeae+oRy2gJFTSbAimaNeeTwE"
    body:
      encoding: UTF-8
      string: '{"activity":"Think of a new business idea","type":"recreational","participants":1,"price":0,"link":"","key":"6808057","accessibility":0.05}'
  recorded_at: Wed, 17 Nov 2021 04:33:52 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=rz7BBGs3VsjMYhtjzgG3PhJ3xEGdJ5Gs&location=fairbanks,ak
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 17 Nov 2021 04:35:17 GMT
      Reversegeocodetransactioncount:
      - '0'
      Stat[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a086f0c098340ee15e9807a29c6811fb&lat=64.836661&lon=-147.738891&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":64.8367,"lon":-147.7389,"timezone":"America/Anchorage","timezone_offset":-32400,"current":{"dt":1637123718,"sunrise":1637087470,"sunset":1637109645,"temp":-0.72,"feels_like":-0.72,"pressure":1016,"humidity":80,"dew_point":-4.94,"uvi":0,"clouds":75,"visibility":6437,"wind_speed":0,"wind_deg":0,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}]},"hourly":[{"dt":1637121600,"temp":-1.28,"feels_like":-1.28,"pressure":1017,"humidity":84,"dew_point":-4.58,"uvi":0,"clouds":80,"visibility":965,"wind_speed":1.83,"wind_deg":234,"wind_gust":3.11,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1637125200,"temp":-0.72,"feels_like":-0.72,"pressure":1016,"humidity":80,"dew_point":-4.94,"uvi":0,"clouds":75,"visibility":867,"wind_speed":1.72,"wind_deg":239,"wind_gust":3.29,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1637128800,"temp":-1.28,"feels_like":-1.28,"pressure":1017,"humidity":84,"dew_point":-4.58,"uvi":0,"clouds":80,"visibility":954,"wind_speed":1.68,"wind_deg":237,"wind_gust":3.2,"weather":[{"id":803,"main":"Cl[...]
[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"87-hsxLgcK2hy3Uoj6B8IUqnKqF1fc"
    body:
      encoding: UTF-8
      string: '{"activity":"Bake a pie with some friends","type":"cooking","participants":3,"price":0.3,"link":"","key":"3141592","accessibility":0.3}'
  recorded_at: Wed, 17 Nov 2021 04:35:23 GMT
recorded_with: VCR 6.0.0
