---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=rz7BBGs3VsjMYhtjzgG3PhJ3xEGdJ5Gs&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 17 Nov 2021 04:04:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rz7BBGs3VsjMYhtjzgG3PhJ3xEGdJ5Gs&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=195588734"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rz7BBGs3VsjMYhtjzgG3PhJ3xEGdJ5Gs&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=482813164"}]}]}'
  recorded_at: Wed, 17 Nov 2021 04:04:53 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a086f0c098340ee15e9807a29c6811fb&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1637121893,"sunrise":1637070369,"sunset":1637106221,"temp":50.18,"feels_like":46.26,"pressure":1004,"humidity":29,"dew_point":20.62,"uvi":0,"clouds":8,"visibility":10000,"wind_speed":1.99,"wind_deg":11,"wind_gust":5.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1637121900,"precipitation":0},{"dt":1637121960,"precipitation":0},{"dt":1637122020,"precipitation":0},{"dt":1637122080,"precipitation":0},{"dt":1637122140,"precipitation":0},{"dt":1637122200,"precipitation":0},{"dt":1637122260,"precipitation":0},{"dt":1637122320,"precipitation":0},{"dt":1637122380,"precipitation":0},{"dt":1637122440,"precipitation":0},{"dt":1637122500,"precipitation":0},{"dt":1637122560,"precipitation":0},{"dt":1637122620,"precipitation":0},{"dt":1637122680,"precipitation":0},{"dt":1637122740,"precipitati[...]
