---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=rz7BBGs3VsjMYhtjzgG3PhJ3xEGdJ5Gs&location=chicago,il
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 17 Nov 2021 07:47:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=rz7BBGs3VsjMYhtjzgG3PhJ3xEGdJ5Gs&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-415212146"}]}]}'
  recorded_at: Wed, 17 Nov 2021 07:47:26 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=a086f0c098340ee15e9807a29c6811fb&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1637135246,"sunrise":1637152984,"sunset":1637188100,"temp":59.14,"feels_like":58.86,"pressure":1008,"humidity":87,"dew_point":55.27,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":8.99,"wind_deg":221,"wind_gust":13,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1637135280,"precipitation":0},{"dt":1637135340,"precipitation":0},{"dt":1637135400,"precipitation":0},{"dt":1637135460,"precipitation":0},{"dt":1637135520,"precipitation":0},{"dt":1637135580,"precipitation":0},{"dt":1637135640,"precipitation":0},{"dt":1637135700,"precipitation":0},{"dt":1637135760,"precipitation":0},{"dt":1637135820,"precipitation":0},{"dt":1637135880,"precipitation":0},{"dt":1637135940,"precipitation":0},{"dt":1637136000,"precipitation":0},{"dt":1637136060,"precipitation":0},{"dt":1637136120,"precipitati[...]
